* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: fontOne;
    src: url('../fonts/font1.woff2')
}

@font-face {
    font-family: fontTwo;
    src: url('../fonts/font2.woff2')
}

@font-face {
    font-family: fontThree;
    src: url('../fonts/font3.woff2')
}

.back-image img {
    width: 100%;
}

.invent-content-main {
    margin-top: -4px;
    padding-inline: 12px;
    background-color: #000000;
    color: #ffffff;
}

.invent-content {
    padding-block: 40px;
}

.invent-content h1 {
    font-size: 16px;
    font-family: fontOne;
    margin: 0px 0px 16px;
    text-align: left;
}

.invent-texts h1 {
    font-size: 29px;
    margin: 0px 0px 16px;
    text-align: left;
}

.invent-texts p {
    font-size: 16px;
    margin: 0px 0px 16px;
    font-family: fontTwo;
    text-align: left;
    line-height: 1.5;


}

.buttons {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.buttons :nth-child(1) {
    background-color: #50e6ff;
    color: #000;
    text-decoration: none;
    font-family: fontOne;
    padding: 10px 14px;
    border-radius: 3px;
    margin: 8px 24px 8px 0px;
}

.buttons :nth-child(2) {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 9px 14px;
    margin: 8px 0px;
    border-radius: 2px;
}

.landingpage-desktop {
    display: none;
}

.premise-text {
    padding-inline: 12px;
    padding-block: 16px;
    margin: 16px 0px;
}
.premise-text h2 {
    font-size:19px;
    margin: 0px 0px 8px;
    font-family: fontOne;
    text-align: left;
    line-height: 1.2;
}


@media screen and (min-width:860px) {
    .invent-content {
        padding: 48px;


    }

}

@media screen and (min-width:1084px) {
    .landingpage-desktop {
        display: block;
    }

    .back-image {
        display: none;
    }

    .landing-page-desktop {
        display: block;
    }

    .landing-page-mobile {
        display: none;
    }

    .invent-content {
        width: 61%;
        padding: 85px;
    }

    .invent-texts h1 {
        font-size: 37px;
    }

    .invent-content-main {
        background-color: transparent;
    }

    .sign-in-down {
        white-space: normal;

    }

    .sign-in-down a {
        display: block;
        width: 41px;
    }

    .contact-sale {
        white-space: normal;
    }

    .contact-sale a {
        display: block;
        width: 92px;
    }

    li .button {
        width: 85px;
    }
    .premise-text h2 {
        text-align: center;
        font-size: 21px;
    }


}

@media screen and (min-width:1440px) {
    .premise-text h2 {        
        font-size: 23px;
    }
    
}